# Movie Recommender system

### Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import ast

In [2]:
import os
os.chdir('C:\csv files')

## Reading the dataset

In [3]:
movies = pd.read_csv("movies_metadata.csv")
credits = pd.read_csv("credits.csv")
links = pd.read_csv("links.csv")

C:\Users\ravi7\AppData\Local\Temp\ipykernel_15904\1289102336.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv("movies_metadata.csv")

In [4]:
#Checking the datatype of links dataset
links.dtypes

movieId      int64
imdbId       int64
tmdbId     float64
dtype: object

## Cleaning dataset

In [5]:
#In the movies dataset,the ID column contains[] so replacing with 0
movies['id'].replace('[]',0,inplace=True)

In [6]:
#Changing the datatype to numeric
movies['id'] = pd.to_numeric(movies['id'], errors='coerce')

In [7]:
movies.dropna(subset=['id'], inplace=True)

In [8]:
#Merging movies and credits dataset with the common column 'id'
movies_credits = pd.merge(movies,credits,on='id')

In [9]:
movies_credits.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862.0,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844.0,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."

In [10]:
#Displaying first 3 rows of links dataset
links.head(3)

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0

In [11]:
#Finding the datatypes of links
links.dtypes

movieId      int64
imdbId       int64
tmdbId     float64
dtype: object

In [12]:
#Checking the null values of links dataset
links.isnull().sum()

movieId      0
imdbId       0
tmdbId     219
dtype: int64

In [13]:
#As on the links dataset 'tmdbId' is replaced with 'id' (because all the id's has been entered on 'tmdbId') 
links.rename(columns={'tmdbId':'id'},inplace=True)

In [14]:
#Dropping the 'imdb_id' column
movies_credits = movies_credits.dropna(axis=0, subset=['imdb_id'])

In [15]:
#On 'imdb_id' we can see the values in 'tt' so lets remove it
movies_credits['imdb_id'] = movies_credits['imdb_id'].str.replace('tt''[0-7]','',regex=True)

In [17]:
#Changing the datatype
movies_credits['imdb_id'] = pd.to_numeric(movies_credits['imdb_id'])

In [18]:
#Rename the columns
links.rename(columns={'imdbId':'imdb_id'},inplace=True)

In [19]:
links

       movieId  imdb_id        id
0            1   114709     862.0
1            2   113497    8844.0
2            3   113228   15602.0
3            4   114885   31357.0
4            5   113041   11862.0
...        ...      ...       ...
45838   176269  6209470  439050.0
45839   176271  2028550  111109.0
45840   176273   303758   67758.0
45841   176275     8536  227506.0
45842   176279  6980792  461257.0

[45843 rows x 3 columns]

In [20]:
links1 = links[['movieId','imdb_id']]

In [21]:
#Merging movies_credits and links1 with the common 'imdb_id' columns
movies_credits = pd.merge(movies_credits,links1,on='imdb_id')

In [22]:
#Displaying first 2 rows
movies_credits.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew,movieId
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862.0,114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",1
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844.0,113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",2

In [24]:
#Reading the dataset
keywords = pd.read_csv("keywords.csv")

In [25]:
#Displaying first 2 rows
keywords.head(2)

     id                                           keywords
0   862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1  8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...

In [26]:
#Checking the datatypes
keywords.dtypes

id           int64
keywords    object
dtype: object

In [27]:
#Merging movies_credits and keywords dataset based on 'id' column
movies_credits = pd.merge(movies_credits,keywords,on='id')

In [28]:
#Displaying first 2 rows
movies_credits.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,status,tagline,title,video,vote_average,vote_count,cast,crew,movieId,keywords
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862.0,114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",1,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844.0,113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",2,"[{'id': 10090, 'name': 'board game'}, {'id': 1..."

In [29]:
#As in Genre columns we found all the unwanted data so we scrapped the genre section which was under 'name' and created a list on it
def genre_name(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [30]:
#Applying the function 'genre_name' on 'genres' column
movies_credits['genres'] = movies_credits['genres'].apply(genre_name)

In [31]:
#Displaying first 2 rows
movies_credits.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,status,tagline,title,video,vote_average,vote_count,cast,crew,movieId,keywords
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862.0,114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",1,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,False,NaN,65000000,"[Adventure, Fantasy, Family]",NaN,8844.0,113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",2,"[{'id': 10090, 'name': 'board game'}, {'id': 1..."

In [32]:
#All the cast name was under 'name' section so scrapped the data and stored on list
def cast_name(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3:
            L.append(i['name'])
            counter+=1
        else:
            break
    return L

In [33]:
#Applying the function 'cast_name' on 'cast' column
movies_credits['cast'] = movies_credits['cast'].apply(cast_name)

In [34]:
movies_credits.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,status,tagline,title,video,vote_average,vote_count,cast,crew,movieId,keywords
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862.0,114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,Released,NaN,Toy Story,False,7.7,5415.0,"[Tom Hanks, Tim Allen, Don Rickles]","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",1,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,False,NaN,65000000,"[Adventure, Fantasy, Family]",NaN,8844.0,113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[Robin Williams, Jonathan Hyde, Kirsten Dunst]","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",2,"[{'id': 10090, 'name': 'board game'}, {'id': 1..."

In [35]:
#Director name is scrapped from 'crew' column 
def director_name(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [36]:
#Applying the function 'director_name' on 'crew' column
movies_credits['crew'] = movies_credits['crew'].apply(director_name)

In [37]:
#Applying the function 'genre_name' on 'keywords' column
movies_credits['keywords'] = movies_credits['keywords'].apply(genre_name)

In [38]:
#Displaying first 2 rows
movies_credits.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,status,tagline,title,video,vote_average,vote_count,cast,crew,movieId,keywords
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862.0,114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,Released,NaN,Toy Story,False,7.7,5415.0,"[Tom Hanks, Tim Allen, Don Rickles]",[John Lasseter],1,"[jealousy, toy, boy, friendship, friends, riva..."
1,False,NaN,65000000,"[Adventure, Fantasy, Family]",NaN,8844.0,113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[Robin Williams, Jonathan Hyde, Kirsten Dunst]",[Joe Johnston],2,"[board game, disappearance, based on children'..."

In [39]:
#We can see that there are integer values present in the language column.
#Let's take a look at it.
#Dropping the specific rows mentioned below
lang_drop = movies_credits[(movies_credits['original_language'] == '82.0') | (movies_credits['original_language'] == '68.0')| (movies_credits['original_language'] == '104.0')].index

movies_credits.drop(index = lang_drop, inplace = True)

In [40]:
#Checking the null values
movies_credits['original_language'].isnull().sum()

9

In [41]:
movies_credits.dropna(subset = ['original_language'], inplace = True)# dropping the nan values

In [42]:
lang_dec = {'en' : 'English', 'fr' : 'French', 'zh' : 'Chinese', 'it' : 'Italian', 'fa' : 'Farsi',
                   'nl' : 'Dutch', 'de' : 'German', 'cn' : 'Chinese','ar' : 'Arabic', 'es' : 'Spanish', 
                   'ru' : 'Russian', 'sv' : 'Swedish', 'ja' : 'Japanese', 'ko' : 'Korean', 'sr' : 'Serbian', 
                   'bn' : 'Bengali', 'he' : 'Hebrew', 'pt' : 'Portuguese', 'wo' : 'Wolof', 'ro' : 'Romanian', 
                   'hu' : 'Hungarian', 'cy' : 'Welsh', 'vi' : 'Vietnamese', 'cs' : 'Czech', 'da' : 'Danish',
                   'no' : 'Norwegian', 'nb' : 'Norwegian', 'pl' : 'Polish', 'el' : 'Greek', 'sh' : 'Serbo-Croatian',
                   'mk' : 'Macedonian', 'bo' : 'Tibetan', 'ca' : 'Catalan', 'fi' : 'Finnish', 'th' : 'Thai',
                   'sk' : 'Slovak', 'bs' : 'Bosnian', 'hi' : 'Hindi', 'tr' : 'Turkish', 'is' : 'Icelandic', 
                   'ps' : 'Pashto', 'ab' : 'Abkhazian','eo' : 'Esperanto','ka' : 'Georgian', 'mn' : 'Mongolian',
                   'bm' : 'Bambara', 'zu' : 'Zulu', 'uk' : 'Ukrainian', 'af' : 'Afrikaans', 'la' : 'Latin',
                   'et' : 'Estonian', 'ku' : 'Kurdish', 'fy' : 'Frisian', 'lv' : 'Latvian', 'ta' : 'Tamil',
                   'sl' : 'Slovenian', 'tl' : 'Tagalog', 'ur' : 'Urdu', 'rw' : 'Kinyarwanda', 'id' : 'Indonesian', 
                   'bg' : 'Bulgarian', 'mr' : 'Marathi', 'lt' : 'Lithuanian', 'kk' : 'Kazakh', 'ms' : 'Malay',
                   'sq' : 'Albanian', 'qu' : 'Quechua', 'te' : 'Telugu', 'am' : 'Amharic', 'jv' : 'Javanese',
                   'tg' : 'Tajik', 'ml' : 'Malayalam','hr' : 'Croatian', 'lo' : 'Laothian', 'ay' : 'Aymara',
                   'kn' : 'Kannada', 'eu' : 'Basque', 'ne' : 'Nepali', 'pa' : 'Punjabi', 'ky' : 'Kirghiz', 
                   'gl' : 'Galician', 'uz' : 'Uzbek', 'sm' : 'Samoan', 'mt' : 'Maltese', 'hy' : 'Armenian',
                   'iu' : 'Inuktitut', 'lb' : 'Luxembourgish', 'si' : 'Sinhalese'

}


movies_credits['original_language'] = movies_credits['original_language'].map(lang_dec)

In [43]:
movies_credits['release_date'].isnull().sum()#Checking the null values

33

In [45]:
#Dropping the null values from 'release_date' column
movies_credits.dropna(subset = ['release_date'], inplace = True)

In [46]:
#Applying 'release_date' into datetime format  
movies_credits['release_date'] = movies_credits['release_date'].apply(pd.to_datetime)

In [47]:
#Fetching the year from 'release_year' columns
movies_credits['release_year']  = movies_credits['release_date'].apply(lambda x:x.year)

In [48]:
#Displaying the 'release_year' column
movies_credits['release_year']

0        1995
1        1995
2        1995
3        1995
4        1995
         ...
31082    2000
31083    1995
31084    1991
31085    2003
31086    1917
Name: release_year, Length: 31045, dtype: int64

In [49]:
#Fetching the data,in which the runtime is less than 15
movies_credits[movies_credits['runtime'] <= 15].shape

(1469, 29)

In [50]:
median_runtime = movies_credits['runtime'].median() # getting the median value of runtime
movies_credits['runtime'] = movies_credits['runtime'].replace(list(range(0, 16)), median_runtime) #replacing runtime less than 10 with median value

In [51]:
movies_credits['runtime'].isnull().sum()#Checking the null values runtime column

143

In [52]:
movies_credits.dropna(subset = ['runtime'], inplace = True)#Dropping the rows which contains nan values in 'runtime' column

In [53]:
movies_credits.isnull().sum()#Checking the null values from movies_credits dataset

adult                        0
belongs_to_collection    27606
budget                       0
genres                       0
homepage                 28333
id                           0
imdb_id                      0
original_language           26
original_title               0
overview                   454
popularity                   0
poster_path                204
production_companies         0
production_countries         0
release_date                 0
revenue                      0
runtime                      0
spoken_languages             0
status                      50
tagline                  16193
title                        0
video                        0
vote_average                 0
vote_count                   0
cast                         0
crew                         0
movieId                      0
keywords                     0
release_year                 0
dtype: int64

In [54]:
#Applying the function 'genre_name' on 'production_companies' column
movies_credits['production_companies'] = movies_credits['production_companies'].apply(genre_name)

In [55]:
#Applying the function 'genre_name' on 'production_countries' column
movies_credits['production_countries'] = movies_credits['production_countries'].apply(genre_name)

In [56]:
from statistics import mode

In [57]:
#Filling nan with mode values 
movies_credits['status'].fillna(movies_credits['status'].mode()[0],inplace=True)

In [58]:
#Displaying 
movies_credits['status']

0        Released
1        Released
2        Released
3        Released
4        Released
           ...
31082    Released
31083    Released
31084    Released
31085    Released
31086    Released
Name: status, Length: 30902, dtype: object

In [59]:
#Filling nan values with mode values 
movies_credits['original_language'].fillna(movies_credits['original_language'].mode()[0],inplace=True)

In [60]:
#Dispalying
movies_credits['original_language']

0        English
1        English
2        English
3        English
4        English
          ...
31082    English
31083    English
31084    English
31085    English
31086    English
Name: original_language, Length: 30902, dtype: object

In [61]:
#Reading the dataset
ratings = pd.read_csv("ratings_small.csv")

In [62]:
#Displaying
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [63]:
#Dropping the timestamp
ratings.drop('timestamp',axis=1,inplace=True)

In [64]:
ratings

        userId  movieId  rating
0            1       31     2.5
1            1     1029     3.0
2            1     1061     3.0
3            1     1129     2.0
4            1     1172     4.0
...        ...      ...     ...
99999      671     6268     2.5
100000     671     6269     4.0
100001     671     6365     4.0
100002     671     6385     2.5
100003     671     6565     3.5

[100004 rows x 3 columns]

In [65]:
ratings = ratings[['movieId','rating']]

In [66]:
#Applying the groupby operation on 'movieId'
ratings1 = pd.DataFrame(ratings.groupby('movieId')['rating'].mean())

In [67]:
#Displaying
movies1 = pd.DataFrame(movies_credits[['title','movieId','release_year']])

In [70]:
#Merging the dataset 'movies1' and 'ratins1' with common column 'movieId'
ratings2 = pd.merge(movies1,ratings1,on='movieId')

In [71]:
#Displaying
ratings2

                               title  movieId  release_year    rating
0                          Toy Story        1          1995  3.872470
1                            Jumanji        2          1995  3.401869
2                   Grumpier Old Men        3          1995  3.161017
3                  Waiting to Exhale        4          1995  2.384615
4        Father of the Bride Part II        5          1995  3.267857
...                              ...      ...           ...       ...
7660      Michael Jackson's Thriller   152173          1983  3.000000
7661                          Demons   152844          1971  4.000000
7662                  The Video Dead   159462          1987  3.000000
7663            The Legend of Tarzan   160563          2016  2.500000
7664  The Last Brickmaker in America   161944          2001  5.000000

[7665 rows x 4 columns]

In [72]:
#Replacing the column name
movies_credits['imdbid'] = movies['imdb_id']

In [73]:
#Displaying
movies_credits['production_countries'].head()

0    [United States of America]
1    [United States of America]
2    [United States of America]
3    [United States of America]
4    [United States of America]
Name: production_countries, dtype: object

In [74]:
#Checking the datatype
movies_credits.dtypes

adult                            object
belongs_to_collection            object
budget                           object
genres                           object
homepage                         object
id                              float64
imdb_id                           int64
original_language                object
original_title                   object
overview                         object
popularity                       object
poster_path                      object
production_companies             object
production_countries             object
release_date             datetime64[ns]
revenue                         float64
runtime                         float64
spoken_languages                 object
status                           object
tagline                          object
title                            object
video                            object
vote_average                    float64
vote_count                      float64
cast                             object
crew                             object
movieId                           int64
keywords                         object
release_year                      int64
imdbid                           object
dtype: object

In [75]:
#Changing the datatype
movies_credits['popularity'] = pd.to_numeric(movies_credits['popularity'])

In [76]:
#Changing the datatype
movies_credits['budget'] = pd.to_numeric(movies_credits['budget'])

In [77]:
#Checking the null values from  the respective columns
movies_credits.isnull().sum()

adult                        0
belongs_to_collection    27606
budget                       0
genres                       0
homepage                 28333
id                           0
imdb_id                      0
original_language            0
original_title               0
overview                   454
popularity                   0
poster_path                204
production_companies         0
production_countries         0
release_date                 0
revenue                      0
runtime                      0
spoken_languages             0
status                       0
tagline                  16193
title                        0
video                        0
vote_average                 0
vote_count                   0
cast                         0
crew                         0
movieId                      0
keywords                     0
release_year                 0
imdbid                      14
dtype: int64

In [78]:
#Fetching the data by using loc opeartion
movies_credits.loc[movies_credits['original_title']!=movies_credits['title']].head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,title,video,vote_average,vote_count,cast,crew,movieId,keywords,release_year,imdbid
29,False,NaN,18000000,"[Fantasy, Science Fiction, Adventure]",NaN,902.0,112682,French,La CitÃ© des Enfants Perdus,A scientist in a surrealist society kidnaps ch...,...,The City of Lost Children,False,7.6,308.0,"[Ron Perlman, Dominique Pinon, Judith Vittet]",[Jean-Pierre Jeunet],29,"[clone, dream, island, eye, dystopia, aging, f...",1995,tt0115012
30,False,NaN,0,"[Drama, Crime]",NaN,37557.0,115012,Chinese,æ‘‡å•Šæ‘‡ï¼Œæ‘‡åˆ°å¤–å©†æ¡¥,A provincial boy related to a Shanghai crime f...,...,Shanghai Triad,False,6.5,17.0,"[Gong Li, Li Bao-Tian, Wang Xiaoxiao]",[Zhang Yimou],30,"[servant, cabaret, shanghai, diva, uncle, mist...",1995,tt0112792
33,False,NaN,0,"[Romance, Adventure]",NaN,78802.0,114952,French,"Guillaumet, les ailes du courage",NaN,...,Wings of Courage,False,6.8,4.0,"[Craig Sheffer, Elizabeth McGovern, Tom Hulce]",[Jean-Jacques Annaud],33,[],1996,tt0112431
58,False,NaN,0,"[Comedy, Drama, Romance]",NaN,11010.0,110877,Italian,Il postino,Simple Italian postman learns to love poetry w...,...,The Postman,False,7.6,181.0,"[Philippe Noiret, Massimo Troisi, Maria Grazia...",[Michael Radford],58,"[island, letter, postman, fisherman, poet]",1994,tt0112714
59,False,NaN,0,"[Thriller, Drama, Mystery]",NaN,99040.0,112714,French,Le confessionnal,"The year is 1952, in Quebec City. Rachel (16),...",...,The Confessional,False,6.5,2.0,"[Lothaire Bluteau, Patrick Goyette, Jean-Louis...",[Robert Lepage],59,[],1995,tt0113419

In [79]:
#Dropping the unwanted columns
movies_credits.drop(['belongs_to_collection','homepage','adult','video','original_title','status'],axis=1,inplace=True)

In [80]:
##flatten list,join all tags overview etc

In [81]:
#Replacement
movies_credits['genres'] = movies_credits['genres'].apply(lambda x:[i.replace(' ','') for i in x])
movies_credits['keywords'] = movies_credits['keywords'].apply(lambda x:[i.replace(' ','') for i in x])
movies_credits['cast'] = movies_credits['cast'].apply(lambda x:[i.replace(' ','') for i in x])
movies_credits['crew'] = movies_credits['crew'].apply(lambda x:[i.replace(' ','') for i in x])

In [83]:
#Changing the datatype
movies_credits['overview'] = movies_credits['overview'].astype(str)

In [84]:
movies_credits['overview'] = movies_credits['overview'].apply(lambda x:x.split())

In [85]:
#Creating a feature column in which it carries multiple column('overview','genre','keywords','production_companies','production_countries','cast','crew')
movies_credits['features'] = movies_credits['overview']+movies_credits['genres']+movies_credits['keywords']+movies_credits['production_companies']+movies_credits['production_countries']+movies_credits['cast']+movies_credits['crew']

In [86]:
movies_credits.columns

Index(['budget', 'genres', 'id', 'imdb_id', 'original_language', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'tagline', 'title', 'vote_average', 'vote_count',
       'cast', 'crew', 'movieId', 'keywords', 'release_year', 'imdbid',
       'features'],
      dtype='object')

In [87]:
#Dropping the 'spoken_language' column
movies_credits.drop(columns='spoken_languages',axis=1,inplace=True)

## Replacement and joining opeartion

In [88]:
movies_credits['features'].apply(lambda x:[i.replace(',','') for i in x ])

0        [Led, by, Woody, Andy's, toys, live, happily, ...
1        [When, siblings, Judy, and, Peter, discover, a...
2        [A, family, wedding, reignites, the, ancient, ...
3        [Cheated, on, mistreated, and, stepped, on, th...
4        [Just, when, George, Banks, has, recovered, fr...
                               ...
31082    [A, film, archivist, revisits, the, story, of,...
31083    [It's, the, year, 3000, AD., The, world's, mos...
31084    [Yet, another, version, of, the, classic, epic...
31085    [When, one, of, her, hits, goes, wrong, a, pro...
31086    [In, a, small, town, live, two, brothers, one,...
Name: features, Length: 30902, dtype: object

In [89]:
movies_credits['features'] = movies_credits['features'].apply(lambda x:' '.join(x))

In [90]:
 movies_credits['keywords'].apply(lambda x:' '.join(x))

0        jealousy toy boy friendship friends rivalry bo...
1        boardgame disappearance basedonchildren'sbook ...
2           fishing bestfriend duringcreditsstinger oldmen
3        basedonnovel interracialrelationship singlemot...
4        baby midlifecrisis confidence aging daughter m...
                               ...
31082     witch mythology legend serialkiller mockumentary
31083
31084
31085
31086
Name: keywords, Length: 30902, dtype: object

In [91]:
movies_credits['cast'] = movies_credits['cast'].apply(lambda x:' '.join(x))
movies_credits['crew'] = movies_credits['crew'].apply(lambda x:' '.join(x))
movies_credits['genres'] = movies_credits['genres'].apply(lambda x:' '.join(x))
movies_credits['overview'] = movies_credits['overview'].apply(lambda x:' '.join(x))
movies_credits['production_companies'] = movies_credits['production_companies'].apply(lambda x:' '.join(x))
movies_credits['production_countries'] = movies_credits['production_countries'].apply(lambda x:' '.join(x))
movies_credits['keywords'] = movies_credits['keywords'].apply(lambda x:' '.join(x))

In [92]:
movies_credits.head(1)

,budget,genres,id,imdb_id,original_language,overview,popularity,poster_path,production_companies,production_countries,...,title,vote_average,vote_count,cast,crew,movieId,keywords,release_year,imdbid,features
0,30000000,Animation Comedy Family,862.0,114709,English,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,Pixar Animation Studios,United States of America,...,Toy Story,7.7,5415.0,TomHanks TimAllen DonRickles,JohnLasseter,1,jealousy toy boy friendship friends rivalry bo...,1995,tt0114709,"Led by Woody, Andy's toys live happily in his ..."

In [93]:
movies_credits['features'] = movies_credits['features'].apply(lambda x:x.lower())

In [94]:
#Reading the dataset
movies_credits.to_csv("movies_credits.csv")

In [95]:
#Saving the dataset in csv format
ratings2.to_csv("ratings2.csv")

In [96]:
movies_credits.isnull().sum()

budget                      0
genres                      0
id                          0
imdb_id                     0
original_language           0
overview                    0
popularity                  0
poster_path               204
production_companies        0
production_countries        0
release_date                0
revenue                     0
runtime                     0
tagline                 16193
title                       0
vote_average                0
vote_count                  0
cast                        0
crew                        0
movieId                     0
keywords                    0
release_year                0
imdbid                     14
features                    0
dtype: int64

In [97]:
df = pd.read_csv("movies_credits.csv")

In [98]:
df

,Unnamed: 0,budget,genres,id,imdb_id,original_language,overview,popularity,poster_path,production_companies,...,title,vote_average,vote_count,cast,crew,movieId,keywords,release_year,imdbid,features
0,0,30000000,Animation Comedy Family,862.0,114709,English,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,Pixar Animation Studios,...,Toy Story,7.7,5415.0,TomHanks TimAllen DonRickles,JohnLasseter,1,jealousy toy boy friendship friends rivalry bo...,1995,tt0114709,"led by woody, andy's toys live happily in his ..."
1,1,65000000,Adventure Fantasy Family,8844.0,113497,English,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,TriStar Pictures Teitler Film Interscope Commu...,...,Jumanji,6.9,2413.0,RobinWilliams JonathanHyde KirstenDunst,JoeJohnston,2,boardgame disappearance basedonchildren'sbook ...,1995,tt0113497,when siblings judy and peter discover an encha...
2,2,0,Romance Comedy,15602.0,113228,English,A family wedding reignites the ancient feud be...,11.712900,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,Warner Bros. Lancaster Gate,...,Grumpier Old Men,6.5,92.0,WalterMatthau JackLemmon Ann-Margret,HowardDeutch,3,fishing bestfriend duringcreditsstinger oldmen,1995,tt0113228,a family wedding reignites the ancient feud be...
3,3,16000000,Comedy Drama Romance,31357.0,114885,English,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,Twentieth Century Fox Film Corporation,...,Waiting to Exhale,6.1,34.0,WhitneyHouston AngelaBassett LorettaDevine,ForestWhitaker,4,basedonnovel interracialrelationship singlemot...,1995,tt0114885,"cheated on, mistreated and stepped on, the wom..."
4,4,0,Comedy,11862.0,113041,English,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,Sandollar Productions Touchstone Pictures,...,Father of the Bride Part II,5.7,173.0,SteveMartin DianeKeaton MartinShort,CharlesShyer,5,baby midlifecrisis confidence aging daughter m...,1995,tt0113041,just when george banks has recovered from his ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30897,31082,0,Horror,289923.0,252966,English,A film archivist revisits the story of Rustin ...,0.386450,/lXtoHVdej6kS1Dc7KAhw05sMos9.jpg,Neptune Salad Entertainment Pirie Productions,...,The Burkittsville 7,7.0,1.0,MontyBane LucyButler DavidGrammer,BenRock,176259,witch mythology legend serialkiller mockumentary,2000,tt3446426,a film archivist revisits the story of rustin ...
30898,31083,0,ScienceFiction,222848.0,112613,English,It's the year 3000 AD. The world's most danger...,0.661558,/4lF9LH0b0Z1X94xGK9IOzqEW6k1.jpg,Concorde-New Horizons,...,Caged Heat 3000,3.5,1.0,LisaBoyle KenaLand ZanetaPolard,AaronOsborne,176263,NaN,1995,tt1906471,it's the year 3000 ad. the world's most danger...
30899,31084,0,Drama Action Romance,30840.0,102797,English,"Yet another version of the classic epic, with ...",5.683753,/fQC46NglNiEMZBv5XHoyLuOWoN5.jpg,Westdeutscher Rundfunk (WDR) Working Title Fil...,...,Robin Hood,5.7,26.0,PatrickBergin UmaThurman DavidMorrissey,JohnIrvin,176267,NaN,1991,tt1633989,"yet another version of the classic epic, with ..."
30900,31085,0,Action Drama Thriller,67758.0,303758,English,"When one of her hits goes wrong, a professiona...",0.903007,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,American World Pictures,...,Betrayal,3.8,6.0,ErikaEleniak AdamBaldwin JulieduPage,MarkL.Lester,176273,NaN,2003,tt2991092,"when one of her hits goes wrong, a professiona..."
30901,31086,0,NaN,227506.0,8536,English,"In a small town live two brothers, one a minis...",0.003503,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,Yermoliev,...,Satan Triumphant,0.0,0.0,IwanMosschuchin NathalieLissenko PavelPavlov,YakovProtazanov,176275,NaN,1917,tt1018887,"in a small town live two brothers, one a minis..."

In [99]:
movies_credits

,budget,genres,id,imdb_id,original_language,overview,popularity,poster_path,production_companies,production_countries,...,title,vote_average,vote_count,cast,crew,movieId,keywords,release_year,imdbid,features
0,30000000,Animation Comedy Family,862.0,114709,English,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,Pixar Animation Studios,United States of America,...,Toy Story,7.7,5415.0,TomHanks TimAllen DonRickles,JohnLasseter,1,jealousy toy boy friendship friends rivalry bo...,1995,tt0114709,"led by woody, andy's toys live happily in his ..."
1,65000000,Adventure Fantasy Family,8844.0,113497,English,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,TriStar Pictures Teitler Film Interscope Commu...,United States of America,...,Jumanji,6.9,2413.0,RobinWilliams JonathanHyde KirstenDunst,JoeJohnston,2,boardgame disappearance basedonchildren'sbook ...,1995,tt0113497,when siblings judy and peter discover an encha...
2,0,Romance Comedy,15602.0,113228,English,A family wedding reignites the ancient feud be...,11.712900,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,Warner Bros. Lancaster Gate,United States of America,...,Grumpier Old Men,6.5,92.0,WalterMatthau JackLemmon Ann-Margret,HowardDeutch,3,fishing bestfriend duringcreditsstinger oldmen,1995,tt0113228,a family wedding reignites the ancient feud be...
3,16000000,Comedy Drama Romance,31357.0,114885,English,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,Twentieth Century Fox Film Corporation,United States of America,...,Waiting to Exhale,6.1,34.0,WhitneyHouston AngelaBassett LorettaDevine,ForestWhitaker,4,basedonnovel interracialrelationship singlemot...,1995,tt0114885,"cheated on, mistreated and stepped on, the wom..."
4,0,Comedy,11862.0,113041,English,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,Sandollar Productions Touchstone Pictures,United States of America,...,Father of the Bride Part II,5.7,173.0,SteveMartin DianeKeaton MartinShort,CharlesShyer,5,baby midlifecrisis confidence aging daughter m...,1995,tt0113041,just when george banks has recovered from his ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31082,0,Horror,289923.0,252966,English,A film archivist revisits the story of Rustin ...,0.386450,/lXtoHVdej6kS1Dc7KAhw05sMos9.jpg,Neptune Salad Entertainment Pirie Productions,United States of America,...,The Burkittsville 7,7.0,1.0,MontyBane LucyButler DavidGrammer,BenRock,176259,witch mythology legend serialkiller mockumentary,2000,tt3446426,a film archivist revisits the story of rustin ...
31083,0,ScienceFiction,222848.0,112613,English,It's the year 3000 AD. The world's most danger...,0.661558,/4lF9LH0b0Z1X94xGK9IOzqEW6k1.jpg,Concorde-New Horizons,United States of America,...,Caged Heat 3000,3.5,1.0,LisaBoyle KenaLand ZanetaPolard,AaronOsborne,176263,,1995,tt1906471,it's the year 3000 ad. the world's most danger...
31084,0,Drama Action Romance,30840.0,102797,English,"Yet another version of the classic epic, with ...",5.683753,/fQC46NglNiEMZBv5XHoyLuOWoN5.jpg,Westdeutscher Rundfunk (WDR) Working Title Fil...,Canada Germany United Kingdom United States of...,...,Robin Hood,5.7,26.0,PatrickBergin UmaThurman DavidMorrissey,JohnIrvin,176267,,1991,tt1633989,"yet another version of the classic epic, with ..."
31085,0,Action Drama Thriller,67758.0,303758,English,"When one of her hits goes wrong, a professiona...",0.903007,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,American World Pictures,United States of America,...,Betrayal,3.8,6.0,ErikaEleniak AdamBaldwin JulieduPage,MarkL.Lester,176273,,2003,tt2991092,"when one of her hits goes wrong, a professiona..."
31086,0,,227506.0,8536,English,"In a small town live two brothers, one a minis...",0.003503,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,Yermoliev,Russia,...,Satan Triumphant,0.0,0.0,IwanMosschuchin NathalieLissenko PavelPavlov,YakovProtazanov,176275,,1917,tt1018887,"in a small town live two brothers, one a minis..."

In [100]:
df.isnull().sum()

Unnamed: 0                  0
budget                      0
genres                   1685
id                          0
imdb_id                     0
original_language           0
overview                  458
popularity                  0
poster_path               204
production_companies     7417
production_countries     3822
release_date                0
revenue                     0
runtime                     0
tagline                 16193
title                       0
vote_average                0
vote_count                  0
cast                     1227
crew                      448
movieId                     0
keywords                 8704
release_year                0
imdbid                     14
features                    6
dtype: int64

In [101]:
df.dropna(subset='features',inplace=True)#drop the nan values

In [102]:
df['features'].isnull().sum()

0

In [103]:
df[df['production_countries'].isnull()]

,Unnamed: 0,budget,genres,id,imdb_id,original_language,overview,popularity,poster_path,production_companies,...,title,vote_average,vote_count,cast,crew,movieId,keywords,release_year,imdbid,features
51,51,0,Action Thriller Drama,117164.0,109950,English,Detective - turned - bodyguard Cynthia McKay (...,0.595949,/hwbKoOSUuzuN2AQppnUxwwd4qOD.jpg,NaN,...,Guardian Angel,6.3,3.0,CynthiaRothrock MarshallR.Teague DanielMcVicar,RichardW.Munchkin,51,NaN,1994,tt0113819,detective - turned - bodyguard cynthia mckay (...
56,56,0,NaN,124057.0,113541,English,"Set in modern times, Alex finds King Arthur's ...",0.307075,/tL9ImxOccEshRlgmrKQabKH2tCd.jpg,Telefilm Canada Melenny Productions,...,Kids of the Round Table,3.0,1.0,JohnnyMorina MalcolmMcDowell MaggieCastle,RobertTinnell,56,NaN,1997,tt0113321,"set in modern times, alex finds king arthur's ..."
84,84,0,NaN,188588.0,113612,English,"Filmed entirely on location in East Hampton, L...",0.531159,/pfgpkDNcwSi1x4jVzeLqvxTwX5a.jpg,NaN,...,Last Summer in the Hamptons,0.0,0.0,VictoriaFoyt VivecaLindfors JonRobinBaitz,HenryJaglom,84,NaN,1995,tt0112365,"filmed entirely on location in east hampton, l..."
107,108,0,Documentary,89333.0,112646,English,A documentary following Christy Turlington and...,0.976707,/yhFcbTCnsWjg3nH3PLL6RoltjqS.jpg,NaN,...,Catwalk,7.0,2.0,ChristyTurlington AzzedineAlaÃ¯a GiorgioArmani,RobertLeacock,108,NaN,1995,tt0112573,a documentary following christy turlington and...
108,109,0,Crime,96357.0,113276,English,An ex-con holds a group of people hostage in a...,0.001346,/tQ6HEWNxvbeF2WklTVEp3su446F.jpg,NaN,...,Headless Body in Topless Bar,0.0,0.0,RaymondJ.Barry RustamBranaman JenniferMacDonald,JamesBruce,109,ex-con,1995,tt0075314,an ex-con holds a group of people hostage in a...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30877,31062,0,Documentary,257472.0,72088,English,The people portrayed in this film are called H...,0.037500,NaN,NaN,...,Rivers of Sand,0.0,0.0,NaN,RobertGardner,176197,NaN,1974,tt0024600,the people portrayed in this film are called h...
30878,31063,0,Documentary,323132.0,74124,English,This film records a 12 day ritual performed by...,0.000000,/zE7szDWCCIN6h5XoNJBUuzCyg0o.jpg,NaN,...,Altar of Fire,0.0,0.0,NaN,RobertGardner,176199,NaN,1976,tt0496325,this film records a 12 day ritual performed by...
30880,31065,0,NaN,325439.0,55178,English,Young Aladdin (Donald O'Connor) has a series o...,0.093498,/UmS7SMaCb1n7uZzkzQSGeGD5Vk.jpg,NaN,...,The Wonders of Aladdin,0.0,0.0,DonaldO'Connor NoÃ«lleAdam VittorioDeSica,MarioBava,176203,NaN,1961,tt0366919,young aladdin (donald o'connor) has a series o...
30894,31079,0,NaN,67179.0,69215,Italian,Sentenced to life imprisonment for illegal act...,0.225051,/j1AN0L4motTt8SBxeTMXDtExsYl.jpg,NaN,...,St. Michael Had a Rooster,6.0,3.0,GiulioBrogi RenatoCestiÃ¨ VitoCipolla,PaoloTaviani,176253,NaN,1972,tt2355773,sentenced to life imprisonment for illegal act...
30896,31081,0,Mystery Horror,390959.0,265736,English,"In this true-crime documentary, we delve into ...",0.076061,/q75tCM4pFmUzdCg0gqcOQquCaYf.jpg,NaN,...,Shadow of the Blair Witch,7.0,2.0,TonyAbatemarco AndreBrooks MariclareCostello,BenRock,176257,blairwitch,2000,tt2321421,"in this true-crime documentary, we delve into ..."

In [104]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [ ]:
#Filling the nan with mode values from 'production_countries' and 'production_companies' columns

In [105]:
df['production_countries'].replace(np.NaN,df['production_countries'].mode()[0],inplace=True)

In [106]:
df.dropna(subset='poster_path',inplace=True)

In [107]:
df.dropna(subset='poster_path',inplace=True)

In [108]:
df['production_companies'].replace(np.NaN,df['production_companies'].mode()[0],inplace=True)

In [109]:
df.to_csv("movies_credits1.csv")

In [110]:
df1 = pd.read_csv("ratings2.csv")

In [111]:
df1.isnull().sum()

Unnamed: 0      0
title           0
movieId         0
release_year    0
rating          0
dtype: int64

In [112]:
df1.dtypes

Unnamed: 0        int64
title            object
movieId           int64
release_year      int64
rating          float64
dtype: object

In [252]:
df.dtypes

Unnamed: 0                       int64
budget                           int64
genres                          object
id                               int64
imdb_id                          int64
original_language               object
overview                        object
popularity                     float64
poster_path                     object
production_companies            object
production_countries            object
release_date            datetime64[ns]
revenue                        float64
runtime                        float64
tagline                         object
title                           object
vote_average                   float64
vote_count                     float64
cast                            object
crew                            object
movieId                          int64
keywords                        object
release_year                     int64
imdbid                          object
features                        object
dtype: object

In [251]:
df['release_date'] = pd.to_datetime(df['release_date'])

# Saved the cleaned dataset in csv format

In [255]:
df.to_csv(r"G:\rec_sys\movies.csv")

In [1]:
pip install scikit-surprise

Defaulting to user installation because normal site-packages is not writeable
Collecting scikit-surprise
  Using cached scikit_surprise-1.1.4.tar.gz (154 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Collecting joblib>=1.2.0 (from scikit-surprise)
  Using cached joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\programdata\anaconda3\lib\site-packages (from scikit-surprise) (1.21.5)
Requirement already satisfied: scipy>=1.6.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-surprise) (1.7.3)
Using cached joblib-1.4.2-py3-none-any.whl (301 kB)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (pyproject.toml): started
  Building wheel for scikit-surprise (pyproject.toml): finished with status 'error'
Failed to build scikit-surprise
Note: you may need to restart the kernel to use updated packages.

  error: subprocess-exited-with-error

  Building wheel for scikit-surprise (pyproject.toml) did not run successfully.
  exit code: 1

  [117 lines of output]
  running bdist_wheel
  running build
  running build_py
  creating build
  creating build\lib.win-amd64-cpython-39
  creating build\lib.win-amd64-cpython-39\surprise
  copying surprise\accuracy.py -> build\lib.win-amd64-cpython-39\surprise
  copying surprise\builtin_datasets.py -> build\lib.win-amd64-cpython-39\surprise
  copying surprise\dataset.py -> build\lib.win-amd64-cpython-39\surprise
  copying surprise\dump.py -> build\lib.win-amd64-cpython-39\surprise
  copying surprise\reader.py -> build\lib.win-amd64-cpython-39\surprise
  copying surprise\trainset.py -> build\lib.win-amd64-cpython-39\surprise
  copying surprise\utils.py -> build\lib.win-amd64-cpython-39\surprise
  copying surprise\__init__.py -> build\lib.win-amd64-cpython-39\surprise
  copying surprise\__main__.py -> build\lib.win-amd64-cpython-39\surprise
  creating build\lib.win-amd64-cpython-39\surprise\model_selection
  copying surprise\model_selection\search.py -> build\lib.win-amd64-cpython-39\surprise\model_selection
  copying surprise\model_selection\split.py -> build\lib.win-amd64-cpython-39\surprise\model_selection
  copying surprise\model_selection\validation.py -> build\lib.win-amd64-cpython-39\surprise\model_selection
  copying surprise\model_selection\__init__.py -> build\lib.win-amd64-cpython-39\surprise\model_selection
  creating build\lib.win-amd64-cpython-39\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\algo_base.py -> build\lib.win-amd64-cpython-39\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\baseline_only.py -> build\lib.win-amd64-cpython-39\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\knns.py -> build\lib.win-amd64-cpython-39\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\predictions.py -> build\lib.win-amd64-cpython-39\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\random_pred.py -> build\lib.win-amd64-cpython-39\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\__init__.py -> build\lib.win-amd64-cpython-39\surprise\prediction_algorithms
  running egg_info
  writing scikit_surprise.egg-info\PKG-INFO
  writing dependency_links to scikit_surprise.egg-info\dependency_links.txt
  writing entry points to scikit_surprise.egg-info\entry_points.txt
  writing requirements to scikit_surprise.egg-info\requires.txt
  writing top-level names to scikit_surprise.egg-info\top_level.txt
  dependency C:\Users\ravi7\AppData\Local\Temp\pip-build-env-hz57ojdj\overlay\Lib\site-packages\numpy\core\include\numpy\arrayobject.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\ravi7\AppData\Local\Temp\pip-build-env-hz57ojdj\overlay\Lib\site-packages\numpy\core\include\numpy\arrayscalars.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\ravi7\AppData\Local\Temp\pip-build-env-hz57ojdj\overlay\Lib\site-packages\numpy\core\include\numpy\ndarrayobject.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\ravi7\AppData\Local\Temp\pip-build-env-hz57ojdj\overlay\Lib\site-packages\numpy\core\include\numpy\ndarraytypes.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\ravi7\AppData\Local\Temp\pip-build-env-hz57ojdj\overlay\Lib\site-packages\numpy\core\include\numpy\ufuncobject.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\ravi7\AppData\Local\Temp\pip-build-env-hz57ojdj\overlay\Lib\site-packages\numpy\core\include\numpy\arrayobject.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\ravi7\AppData\Local\Temp\pip-build-env-hz57ojdj\overlay\Lib\site-packages\numpy\core\include\numpy\arrayscalars.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\ravi7\AppData\Local\Temp\pip-build-env-hz57ojdj\overlay\Lib\site-packages\numpy\core\include\numpy\ndarrayobject.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\ravi7\AppData\Local\Temp\pip-build-env-hz57ojdj\overlay\Lib\site-packages\numpy\core\include\numpy\ndarraytypes.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\ravi7\AppData\Local\Temp\pip-build-env-hz57ojdj\overlay\Lib\site-packages\numpy\core\include\numpy\ufuncobject.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\ravi7\AppData\Local\Temp\pip-build-env-hz57ojdj\overlay\Lib\site-packages\numpy\core\include\numpy\arrayobject.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\ravi7\AppData\Local\Temp\pip-build-env-hz57ojdj\overlay\Lib\site-packages\numpy\core\include\numpy\arrayscalars.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\ravi7\AppData\Local\Temp\pip-build-env-hz57ojdj\overlay\Lib\site-packages\numpy\core\include\numpy\ndarrayobject.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\ravi7\AppData\Local\Temp\pip-build-env-hz57ojdj\overlay\Lib\site-packages\numpy\core\include\numpy\ndarraytypes.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\ravi7\AppData\Local\Temp\pip-build-env-hz57ojdj\overlay\Lib\site-packages\numpy\core\include\numpy\ufuncobject.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\ravi7\AppData\Local\Temp\pip-build-env-hz57ojdj\overlay\Lib\site-packages\numpy\core\include\numpy\arrayobject.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\ravi7\AppData\Local\Temp\pip-build-env-hz57ojdj\overlay\Lib\site-packages\numpy\core\include\numpy\arrayscalars.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\ravi7\AppData\Local\Temp\pip-build-env-hz57ojdj\overlay\Lib\site-packages\numpy\core\include\numpy\ndarrayobject.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\ravi7\AppData\Local\Temp\pip-build-env-hz57ojdj\overlay\Lib\site-packages\numpy\core\include\numpy\ndarraytypes.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\ravi7\AppData\Local\Temp\pip-build-env-hz57ojdj\overlay\Lib\site-packages\numpy\core\include\numpy\ufuncobject.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\ravi7\AppData\Local\Temp\pip-build-env-hz57ojdj\overlay\Lib\site-packages\numpy\core\include\numpy\arrayobject.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\ravi7\AppData\Local\Temp\pip-build-env-hz57ojdj\overlay\Lib\site-packages\numpy\core\include\numpy\arrayscalars.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\ravi7\AppData\Local\Temp\pip-build-env-hz57ojdj\overlay\Lib\site-packages\numpy\core\include\numpy\ndarrayobject.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\ravi7\AppData\Local\Temp\pip-build-env-hz57ojdj\overlay\Lib\site-packages\numpy\core\include\numpy\ndarraytypes.h won't be automatically included in the manifest: the path must be relative
  dependency C:\Users\ravi7\AppData\Local\Temp\pip-build-env-hz57ojdj\overlay\Lib\site-packages\numpy\core\include\numpy\ufuncobject.h won't be automatically included in the manifest: the path must be relative
  reading manifest file 'scikit_surprise.egg-info\SOURCES.txt'
  reading manifest template 'MANIFEST.in'
  warning: no previously-included files matching '*.so' found under directory 'surprise'
  adding license file 'LICENSE.md'
  writing manifest file 'scikit_surprise.egg-info\SOURCES.txt'
  C:\Users\ravi7\AppData\Local\Temp\pip-build-env-hz57ojdj\overlay\Lib\site-packages\setuptools\command\build_py.py:207: _Warning: Package 'surprise.prediction_algorithms' is absent from the `packages` configuration.
  !!

          ********************************************************************************
          ############################
          # Package would be ignored #
          ############################
          Python recognizes 'surprise.prediction_algorithms' as an importable package[^1],
          but it is absent from setuptools' `packages` configuration.

          This leads to an ambiguous overall configuration. If you want to distribute this
          package, please make sure that 'surprise.prediction_algorithms' is explicitly added
          to the `packages` configuration field.

          Alternatively, you can also rely on setuptools' discovery methods
          (for example by using `find_namespace_packages(...)`/`find_namespace:`
          instead of `find_packages(...)`/`find:`).

          You can read more about "package discovery" on setuptools documentation page:

          - https://setuptools.pypa.io/en/latest/userguide/package_discovery.html

          If you don't want 'surprise.prediction_algorithms' to be distributed and are
          already explicitly excluding 'surprise.prediction_algorithms' via
          `find_namespace_packages(...)/find_namespace` or `find_packages(...)/find`,
          you can try to use `exclude_package_data`, or `include-package-data=False` in
          combination with a more fine grained `package-data` configuration.

          You can read more about "package data files" on setuptools documentation page:

          - https://setuptools.pypa.io/en/latest/userguide/datafiles.html


          [^1]: For Python, any directory (with suitable naming) can be imported,
                even if it does not contain any `.py` files.
                On the other hand, currently there is no concept of package data
                directory, all directories are treated like packages.
          ********************************************************************************

  !!
    check.warn(importable)
  copying surprise\similarities.c -> build\lib.win-amd64-cpython-39\surprise
  copying surprise\similarities.pyx -> build\lib.win-amd64-cpython-39\surprise
  copying surprise\prediction_algorithms\co_clustering.c -> build\lib.win-amd64-cpython-39\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\matrix_factorization.c -> build\lib.win-amd64-cpython-39\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\optimize_baselines.c -> build\lib.win-amd64-cpython-39\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\slope_one.c -> build\lib.win-amd64-cpython-39\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\co_clustering.pyx -> build\lib.win-amd64-cpython-39\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\matrix_factorization.pyx -> build\lib.win-amd64-cpython-39\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\optimize_baselines.pyx -> build\lib.win-amd64-cpython-39\surprise\prediction_algorithms
  copying surprise\prediction_algorithms\slope_one.pyx -> build\lib.win-amd64-cpython-39\surprise\prediction_algorithms
  running build_ext
  building 'surprise.similarities' extension
  error: Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools": https://visualstudio.microsoft.com/visual-cpp-build-tools/
  [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
  ERROR: Failed building wheel for scikit-surprise
ERROR: Could not build wheels for scikit-surprise, which is required to install pyproject.toml-based projects

In [6]:
import os
os.chdir('C:\csv files')
import pandas as pd
import streamlit as st
df = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings2.csv')
links = pd.read_csv('links_small.csv')
links.dropna(subset='tmdbId',inplace=True)
ratings = pd.read_csv('ratings_small.csv')

st.title('      INTERNSHIP FIRST PROJECT')
st.header(' ðŸŽ¥ MOVIE RECOMMENDATION SYSTEMS  ðŸŽ¥')
st.write('Select dataset info for all the basic information regarding the dataset')
st.write('Select eda to get the visualizations')
st.write('Select get recommendations to get the top 10 movies recommended for you')

TomlDecodeError: Empty value is invalid (line 3 column 1 char 25)